---
import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { BlogPost } from "../../lib/contentful";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries<BlogPost>({
    content_type: "blogPost",
    order: "-sys.createdAt",
  });

  const pages = entries.items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields?.title,
      content: documentToHtmlString(item?.fields?.content),
      date: new Date(item?.fields.date).toDateString(),
      excerpt: item.fields?.excerpt,
      slug: item.fields?.slug,
      image: item.fields?.image?.fields?.file?.url,
    },
  }));
  return pages;
}

const { content, title, date, excerpt, slug, image } = Astro.props;

const formatDate = (string) => {
  const date = new Date(string);
  const toDateString = date.toDateString();
  return toDateString.substring(4);
};
---

<Layout title={title}>
  <div class="container mx-auto px-5">
    <article
      class="py-28 flex flex-col items-start prose prose-invert mx-auto max-w-3xl"
    >
      <span class="uppercase text-neutral-400 text-sm">
        {formatDate(date)}
      </span>
      <h1 class="text-4xl xl:text-5xl font-black mt-2">{title}</h1>

      <img src={image} alt="" class="max-w-3xl my-4 w-full rounded-lg" />

      <div class="mt-2" set:html={content} />
    </article>
  </div>
</Layout>
