---
const { post, excerpt = true } = Astro.props;
const formatDate = (string) => {
  const date = new Date(string);
  const toDateString = date.toDateString();
  return toDateString.substring(4);
};
---

<a href={`/blog/${post.fields.slug}`}>
  <div
    class="bg-violet-900/30 rounded-lg overflow-hidden h-full flex flex-col group max-w-2xl"
  >
    <img src={post.fields.image?.fields?.file?.url} alt="" class="rounded-lg" />
    <div class="p-8 flex-1 flex flex-col">
      <p class="uppercase text-neutral-400 text-sm">
        {formatDate(post.fields?.date)}
      </p>
      <h3 class="text-2xl font-bold mt-2">{post.fields.title}</h3>
      {excerpt !== "false" && <p class="mt-2 text-sm">{post.fields.excerpt}</p>}
      <div class="flex-1 flex flex-col justify-end mt-2">
        <div class="text-violet-400 font-bold flex items-center">
          <span>Read more</span>
          <svg
            class="ml-2 group-hover:ml-4 transition-all duration-300 relative top-0.5 group-hover:text-white"
            width="35"
            height="13"
            viewBox="0 0 35 13"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 4.87525V8.12493H27.7085V13L35 6.50009L27.7085 0V4.87525H0Z"
              fill="currentColor"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
</a>
