---
const { link, text, priColor, secColor, type } = Astro.props;
---

{
  link ? (
    <a
      href={link}
      class={`group relative rounded-lg py-2 px-5 text-lg font-bold text-white  ${priColor}`}
    >
      <span>{text}</span>
      <span
        class={`absolute top-0 left-0 -z-10 h-full w-full rotate-3 scale-105 rounded-lg  transition-all duration-300 group-hover:rotate-6 ${secColor} `}
      />
    </a>
  ) : (
    <button
      type={type}
      class={`group relative rounded-lg py-2 px-5 text-lg font-bold text-white  ${priColor}`}
    >
      <span>{text}</span>
      <span
        class={`absolute top-0 left-0 -z-10 h-full w-full rotate-3 scale-105 rounded-lg  transition-all duration-300 group-hover:rotate-6 ${secColor} `}
      />
    </button>
  )
}
